
.fancy-select
  .background
    width 100%

  input[type=text]
    font inherit
    border-width 0
    background transparent
    outline 0
    min-width 5em
    max-width 100%
    box-sizing border-box

  .listitem
    display inline-block

  .list
    box-sizing border-box
    display inline-block

  .option
    outline 0
    display block
    margin 0
